@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dealer Portal CRM - Error</title>
</head>
<body>
    <hgroup>
        <h1>User Not Authorized</h1>
    </hgroup>
    <input type="button" value="Back" onclick="history.go(-1);return true;">
</body>
</html>
