
<div style="padding-bottom:30px">
    <div class="row">
        <div class="col-md-4">
            <div class="well" style="min-height: 300px">
                <div class="well" style="min-height: 300px">
                    <div class="bc-widget">
                        <div class="title">My Connections</div>
                        <div class="content">

                            <a class="btn btn-lg btn-primary" ng-href="#/profile/{{$scope.DashboardId}}"><i class="fa fa-archive fa-arrows-h"></i>&nbsp; My Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well" style="min-height: 300px">
                <div class="well" style="min-height: 300px">
                    <div class="bc-widget">
                        <div class="title">My Cnnections</div>
                        <div class="content">

                            <a class="btn btn-lg btn-primary" ng-href="#/connnections/{{$scope.DashboardId}}"><i class="fa fa-archive fa-arrows-h"></i>&nbsp; My Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well" style="min-height: 300px">
                <div class="well" style="min-height: 300px">
                    <div class="bc-widget">
                        <div class="title">My Connections</div>
                        <div class="content">

                            <a class="btn btn-lg btn-primary" ng-href="#/messaage/{{$scope.DashboardId}}"><i class="fa fa-magic fa-arrows-h"></i>&nbsp; Messages <span class="badge">9</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="well" style="min-height: 300px">
                <div class="bc-widget">
                    <div class="title">Check Your Profile</div>
                    <div class="content">

                        <a class="btn btn-lg btn-primary" ng-href="#/profile/{{$scope.DashboardId}}"><i class="fa fa-archive fa-arrows-h"></i>&nbsp; My Profile</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="well" style="min-height: 300px">
                <div class="bc-widget">
                    <div class="title">Click here to open the notes</div>
                    <div class="content">
                        <input type="radio" ng-model="value" value="firstValue" ng-change='newValue(value)'>
                        <input type="radio" ng-model="value" value="secondValue" ng-change='newValue(value)'>


                        <a class="btn btn-lg btn-primary" ng-href="#/note/{{$scope.DashboardId}}"><i class="fa fa-newspaper-o"></i>&nbsp; Notes</a>
                    </div>

                </div>
                <div class="bc-widget">
                    <div class="title">Click here to open the notes</div>
                    <div class="content">

                        <a class="btn btn-lg btn-primary" ng-href="#/education/{{$scope.DashboardId}}"><i class="fa fa-university fa-arrows-h"></i>&nbsp; Education</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>