@model DealerPortalCRM.ViewModels.SalesDashBoardTest

@{
    ViewBag.Title = "SalesDashBoardTest";
}

<h2>SalesDashBoardTest</h2>




<div>
    <h4>Native Querty Results   model.TotalCount </h4>

    @Html.DisplayNameFor(model => model.TotalCount)

    @Html.DisplayFor(model => model.TotalCount)
    <hr />
  
</div>
