<div class="modal-header">
    <h3 class="modal-title">{{errorModal.title}}</h3>
</div>
<div class="modal-body" style="min-height:260px;">

    <div class="alert alert-danger" role="alert">
        <strong>{{errorModal.description}}</strong>

        <ol>
            <li ng-repeat="(key, error) in errors">{{error}}</li>
        </ol>

        <ol>
            <li ng-if="messages"> {{messages}}</li>
        </ol>
    </div>

</div>
<div class="modal-footer">
    <button id="closeerrormodal" class="btn btn-danger" ng-click="close()">{{errorModal.closeButton}}</button>
</div>