<div class="jumbotron">
    <h1>Dealer Portal CRM</h1>
    <p class="lead">This Portal is a one stop engine for dealer to access information.</p>
    <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>



