<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.Bootstrap" version="0.14.3" targetFramework="net46" />
  <package id="Angular.UI.UI-Router" version="0.2.15" targetFramework="net46" />
  <package id="Angular.UI.Utils" version="0.2.3" targetFramework="net46" />
  <package id="angularjs" version="1.4.8" targetFramework="net46" />
  <package id="AngularJS.Animate" version="1.4.8" targetFramework="net46" />
  <package id="AngularJS.Core" version="1.4.8" targetFramework="net46" />
  <package id="AngularJS.Route" version="1.4.8" targetFramework="net46" />
  <package id="AngularJS.Sanitize" version="1.4.8" targetFramework="net46" />
  <package id="Angular-UI-Bootstrap" version="0.7.0-pre1" targetFramework="net46" />
  <package id="angular-ui-date" version="0.0.8" targetFramework="net46" />
  <package id="angular-ui-event" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net46" developmentDependency="true" />
</packages>